
body{
  background-color: #01272F;
  padding-top: 2em;
  padding-bottom: 4em;
}
.container{
  width: 70%;
  margin: 0em auto;
  background-image: url('./background.jpg');
  text-align: center;
  border-radius: 40px;
  padding: 1em;
  max-width: 800px;
}
.title{
padding: 1em;
}
.title h1{
  font-size: 3rem;
}
.temperature{
  font-size: 4em;
}
.temperature_degree{
  font-size: 3em;
}
.description{
  font-size: 2em;
  margin: 0em;
}
.user_location{
  position: absolute;
  top: 4em;
  width: 100px;
  background-color: #6B5B4A;
  color:#01212C ;
  padding: 0.3em;
  border-radius: 30px;
}
.user_location:hover{
  opacity: 0.4;
  color:#6B5B4A;
  cursor: pointer;
}
.user_location:active{
  background-color: darkcyan;
  color:#6B5B4A;
  cursor: pointer;
}
input[type=text]{
  width: 60%;
  padding: 0.3em 0.5em;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
  background-color: #6B5B4A;
  color: bisque;
}
input[type=submit]{
  width:30%;
  border-radius: 20px;
  outline: none;
  margin-left: 0.5em;
  margin: 0.4em;
  font-size: 1rem;
  background-color: #01212C;
  color:#6B5A47 ;
}
input[type=submit]:hover{
  opacity: 0.4;
  color:#6B5B4A;
  cursor: pointer;
}
input[type=submit]:active{
  background-color: darkcyan;
  color:#6B5B4A;
  cursor: pointer;
}
@media(max-width:450px){
  input[type=text]{
    width: 60%;
    padding: 0.3em 0.5em;
    border-radius: 30px;
    font-size: 0.7rem;
  }
  .title h1{
    font-size: 2rem;
    margin-top: 1.5em;
  }
  input[type=submit]{
    width:35%;
    margin-left: 0.5em;
    margin: 0.4em;
    font-size: 0.7rem;
    padding: 0.2;
  }
}
